# Example for .env file, used in compose file and Python scripts
# Just `cp .env.example .env` and change the values for your needs

BOT_VERSION=0.2.0

DISCORD_TOKEN=your_token_here

DISCORD_ADMIN_ROLE_ID=your_admin_role_id
DISCORD_TEACHING_MANAGER_ROLE_ID=your_teaching_manager_role_id
DISCORD_TEACHER_ROLE_ID=your_teacher_role_id

# To generate invitations
DISCORD_GENERAL_CHANNEL_ID=your_global_channel_id

DISCORD_GENERAL_BY_CLASS_CHANNEL_NAME=general
DISCORD_WITHOUT_TEACHER_BY_CLASS_CHANNEL_NAME=without-teachers

# Imports
IMPORTS_PATH=/tmp/imports/
SUBJECTS_FILE_PATH=${IMPORTS_PATH}subjects_by_year.xlsx
OLD_SUBJECTS_FILE_PATH=${IMPORTS_PATH}old_subjects_by_year.xlsx
STUDENTS_FILE_PATH=${IMPORTS_PATH}students.xlsx